.items {
  display: grid;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  h2 {
    color: var(--color-title);
    font-size: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
  }

  p,
  h2 {
    text-align: center;
  }

  ul {
    width: fit-content;
  }

  aside {
    width: 100%;
    height: auto;
  }


  /* DESKTOP */
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 2rem;

    article {
      width: 450px;
    }

    aside {
      width: 512px;
      height: auto;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}


