body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    height: 100dvh;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
