#root {
  display: grid;
  grid-template-areas:
    "navigation"
    "main"
    "footer";
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  height: 100dvh;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 0 2rem;
  max-width: 1440px;
}

.live {
  width: 100%;
}

.emissions__cards {
  display: flex;
  width: 100%;
}

.emissions__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  width: 100%;
}

.emissions__section h2 {
  text-align: center;
  color: var(--color-title);
  font-size: 20px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.emissions__see-more {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin-top: 40px;
  width: 100px;
  height: 32px;
  background-color: var(--color-primary);
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 2px 8px;
  cursor: pointer;
}

/* DESKTOP */
@media (min-width: 1024px) {
  main {
    margin: 80px auto;
  }
}
