@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap");
@import "utils/reset";
@import "utils/variables";

@import "components/navigation";
@import "components/items";
@import "components/card";
@import "components/twitch-player";
@import "components/footer";

@import "layout";

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

