@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap");
@import "utils/reset.css";
@import " utils/variables.css";

@import "components/navigation.css";

@import "layout.css";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
}

