.footer {
    display: none;
}

@media (min-width: 1024px) {
    .footer {
        grid-area: footer;
        border-top: 1px solid var(--color-primary);
        display: grid;
        place-items: center;
        width: 100%;
        height: var(--footer-height);
        font-size: 14px;
    }
}